.card {
    background-color: transparent ;
  }
  
.tepig{
    background-color: orangered;
}
.oshawott{
    background-color: skyblue;
}
.snivy{
    background-color: green;
}

.background0{
    background-image: url("../../assets/zona\ lavica.jpg");
        background-size: cover;
        background-position: center center;
        height: 775px;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -1;
      
      
}
.background1{
    background-image: url("../../assets/zona\ glaciale.jpg");
        background-size: cover;
        background-position: center center;
        height: 795px;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -1;
      
      
}
.background2{
    background-image: url("../../assets/foresta\ 2.jpg");
        background-size: cover;
        background-position: center center;
        height: 790px;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -1;
      
      
}

@font-face {
    font-family: POKEMON;
    src: url(../../assets/Pokemon\ Solid.ttf);
}